<div class="container-fluid" >
<h1>Questions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Category</th>
      <th scope="col">SubCategory</th>
      <th scope="col">Question</th>
      <th scope="col">Minimum</th>
      <th scope="col">Maximum</th>
    </tr>
  </thead>
  <tbody>
  <% @questions.each_with_index do |question, index| %>
    <%= form_with url: admin_question_path(question.id) do |f| %>
    <tr>
      <th scope="row"><%= index + 1 %> (#<%= question.id %>)</th>
      <td class="table-data"><%= f.select(:category, options_for_select(Question.pluck(:category).uniq, selected: question.category), class: "form-select form-select-md") %></td>
      <td class="table-data"><%= f.select(:sub_category, options_for_select(Question.where(category: question.category).pluck(:sub_category).uniq, selected: question.sub_category), class: "form-select") %></td>
      <td class="table-data"><%= f.text_field :body, value: question.body, class: "form-control" %></td>
      <td class="table-data"><%= f.text_field :min, value: question.min, class: "form-control" %></td>
      <td class="table-data"><%= f.text_field :max, value: question.max, class: "form-control" %></td>
      <td class="table-data" ><%= f.select(:method, options_for_select(["update","delete"]), class: "form-select") %><%= f.submit "OK", class: "ml-3 btn btn-secondary" %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
</div>