<div class="container" style="color:white" >
<h1>Administrator - All Question Information</h1>
<h2>There are <%= @questions.count %> questions. 3 each per Element(sub-category).</h2>
<table class="table table-striped", style="color:white">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Factor</th>
      <th scope="col">Element</th>
      <th scope="col">Question</th>
    </tr>
  </thead>
  <tbody>
  <% @health_questions.each do |question| %>
    <tr>
      <th scope="row"></th>
      <td class="table-data"><%= question.category.capitalize %></td>
      <td class="table-data"><%= question.sub_category.capitalize %></td>
      <td class="table-data"><%= question.body %></td>
      <td><%= link_to 'Edit', admin_edit_path(question) %></td>
    </tr>
  <%end  %>
  <% @wealth_questions.each do |question| %>
    <tr>
      <th scope="row"></th>
      <td class="table-data"><%= question.category.capitalize %></td>
      <td class="table-data"><%= question.sub_category.capitalize %></td>
      <td class="table-data"><%= question.body %></td>
    </tr>
  <%end  %>
  <% @happiness_questions.each do |question| %>
    <tr>
      <th scope="row"></th>
      <td class="table-data"><%= question.category.capitalize %></td>
      <td class="table-data"><%= question.sub_category.capitalize %></td>
      <td class="table-data"><%= question.body %></td>
    </tr>
  <%end  %>
  </tbody>
</table>
</div>
