<div class="container" style="color:white" >
<h1>Questions</h1>
<table class="table table-striped", style="color:white">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Factor</th>
      <th scope="col">Element</th>
      <th scope="col" style="width: 50%">Question</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <%= form_with data: {remote: false} do |f| %>
      <th scope="row">No (#id)</th>
      <td class="table-data"><%= f.select(:category, options_for_select(Question.pluck(:category).uniq), class: "form-select") %></td>
      <td class="table-data"><%= f.select(:sub_category, options_for_select(Question.pluck(:sub_category).uniq), class: "form-select") %></td>
      <td class="table-data"><%= f.text_field :body, class: "form-control" %></td>
      <td class="table-data" ><%= f.submit "Create New Question", class: "ml-3 btn btn-secondary" %></td>
    <% end %>
    </tr>
  <% @questions.each_with_index do |question, index| %>
    <%= form_with url: admin_question_path(question.id) do |f| %>
    <tr>
      <th scope="row"><%= index + 1 %> (#<%= question.id %>)</th>
      <td class="table-data"><%= f.select(:category, options_for_select(Question.pluck(:category).uniq, selected: question.category), class: "form-select form-select-md") %></td>
      <td class="table-data"><%= f.select(:sub_category, options_for_select(Question.where(category: question.category).pluck(:sub_category).uniq, selected: question.sub_category), class: "form-select") %></td>
      <td class="table-data"><%= f.text_field :body, value: question.body, class: "form-control" %></td>
      <td class="table-data" ><%= f.select(:method, options_for_select(["update","delete"]), class: "form-select") %><%= f.submit "OK", class: "ml-3 btn btn-secondary" %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
</div>