<h1> Hi <%= current_user.first_name %></h1>
<h1>Check Out Your Results</h1>
<% @answers.each do |answer|%>
<p><%= answer[:label] %></p>
<%= form_with do |f| %>
<%= f.radio_button :weight, 1 %>
<%= f.label :not_very, "Not very important" %>
<%= f.radio_button :weight, 2 %>
<%= f.label :has_some, "Has some importance" %>
<%= f.radio_button :weight, 3 %>
<%= f.label :important, "Important" %>
<%= f.radio_button :weight, 4 %>
<%= f.label :very_important, "Very important" %>
<%= f.radio_button :weight, 5 %>
<%= f.label :essential, "Essential/Critical" %>
<% end %>

<% end %>
<h4>Click <%= link_to "here", plan_path %> to view our action plan we have tailor made for you:</h4>

