<div class="container">
  <% @count = @questionnaire.answers.count %>
  <% @half_way = (Question.all.count / 2) + 2 %>
  <% @questions_remaining = @questionnaire.count_questions_remaining%>
  
<% if @count == 0 %>
  <h1>Hi, <%= current_user.first_name %>, please answer the following questions </h1>
<% elsif @questions_remaining > @half_way  %>
  <h1>Your bespoke plan is being created, <%= @questions_remaining %> questions to go!</h1>
<% elsif @questions_remaining == @half_way %>
  <h1>Half way there! Keep going!</h1>
<% elsif @questions_remaining < @half_way && @questions_remaining > 3 %>
  <h1>Not long to go now!</h1>
<% elsif @questions_remaining <= 3 %>
  <h1>Last 3 questions. You did it!</h1>
<% end %>
<h2>Rate from 1 to 10</h2>
<p><i>10 being the highest and 1 being the lowest</i></p>
<%= @count %>/<%= Question.count %>
<%= form_for @questionnaire, url: new_questionnaire_path(id: @questionnaire.id), method: "post" do | f| %>
  <%= f.hidden_field :id, value: @questionnaire.id %>
  <%= simple_fields_for :answers, multiple: true do |form| %>
    <% @questions.each do |question| %>
      <p class="question col-md-5"><%= question.body %></p>
      <div class="form-row">
      <%= form.input_field "answer-#{question.id}", collection: 1..10, class:"form-control col-md-5" %>
      </div>
    <% end %>
    <button class="button mt-3">
    <%= f.submit "OK", class:"btn btn-link" %>
    </button>
  <% end %>
<% end %>
</div>
