<div class="container">
<h1> Hi <%= current_user.first_name %>, please answer these questions below...</h1>
<h2>Rate from 1 to 10</h2>
<p><i>10 being the highest and 1 being the lowest</i></p>
<%= @questionnaire.answers.count %>/<%= Question.count %>
<%= form_for @questionnaire, url: new_questionnaire_path(id: @questionnaire.id), method: "post" do | f| %>
  <%= f.hidden_field :id, value: @questionnaire.id %>
  <%= simple_fields_for :answers, multiple: true do |form| %>
    <% @questions.each do |question| %>
      <p class="question col-md-5"><%= question.body %></p>
      <div class="form-row">
      <%= form.input_field "answer-#{question.id}", collection: 1..10, class:"form-control col-md-5" %>
      <%= form.input_field "weight-#{question.id}", collection: 1..5, class:"form-control ml-5 col-md-2", placeholder: "i care about this...." %>                      
      </div>
    <% end %>
    <button class="button mt-3">
    <%= f.submit "OK", class:"btn btn-link" %>
    </button>
  <% end %>
<% end %>
</div>