<div class="container">
<h1> Hi <%= current_user.first_name %>, please answer some questions on <%= @questionnaire.category.capitalize %> </h1>
<h2>Rate from 1 to 10</h2>
<p><i>10 being the highest and 1 being the lowest</i></p>

<%= form_for @questionnaire, url: new_questionnaire_path(id: @questionnaire.id), method: "post" do | f| %>
  <%= f.hidden_field :id, value: @questionnaire.id %>
  <%= simple_fields_for :answers, multiple: true do |form| %>
    <% @questionnaire.questions.each do |question| %>
      
      <p class="question"><%= question.body %></p>
      <%= form.input_field "#{question.id}", collection: 1..10, class:"dropdown_10" %>
      
    <% end %>
    <div class="questionnaire-button">
    <%= f.submit "OK", class:"nav-link nav-button" %>
    </div>
  <% end %>
<% end %>
</div>