<h1>Hi <%= current_user.first_name %></h1>
<br>
<h2>Please answer some questions on <%= @questionnaire.category %></h2>
<h3>Rate them from 1 - 10</h3>
<h1 class="text-danger">Message for Tarun: Would be amazing to get some of your magic on how to render a dropdown here</h1>
<h2 class="text-danger">We need to direct this to the answer#new(create) somehow</h2>

<p><%= @questionnaire.questions.first.body %></p>
<%= simple_form_for [@questionnaire] do |f| %>
  <%= f.input :rating, :collection => [1, 2, 3, 4, 5, 6, 7] %>
  <%= f.button :submit, 'Submit', class:"btn btn-sm btn-primary" %>
<% end %>

<p><%= @questionnaire.questions.second.body %></p>
<p><%= @questionnaire.questions.third.body %></p>
<%= link_to 'Categories', all_questionnaires_path, class:"btn btn-primary" %>