<h1>Hi <%= current_user.email %></h1>
<br>
<h2>Please answer some questions on <%= @questionnaire.category %></h2>
<h3>Rate them from 1 - 10</h3>


<p><%= @questionnaire.questions.first.body %></p>
<p><%= @questionnaire.questions.second.body %></p>
<p><%= @questionnaire.questions.third.body %></p>
<%= link_to 'Categories', all_questionnaires_path, class:"btn btn-primary" %>